{% extends 'base.html' %}

{% block content %}
  <div class="container text-center py-4 px-3 mx-auto">

    <div class="row">
      <div class="col-md-4">
        <div class="card" style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title">Platform</h5>
              <p class="card-text">{{ network["hostname"] }}</p>
            </div>
          </div>
      </div>
      <div class="col-md-4">
        <div class="card" style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title">Local Address</h5>
              <p class="card-text">{{ network["local_ip"] }}</p>
            </div>
          </div>
      </div>
      <div class="col-md-4">
        <div class="card" style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title">External Address</h5>
              <p class="card-text">{{ network["external_ip"] }}</p>
            </div>
          </div>
      </div>
    </div>
    <hr>

      <div class="row">
        <div class="my-3">
          <div class="p3 bg-body-tertiary">
            <div class="container py-2">
              <h2 class="text-body-emphasis">General Hardware Information</h2>
              <p class="col-lg-8 mx-auto lead">
              This section details general hardware information about the board, containing disk, memory, cpu specifications.
              </p>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="my-1">
        <div class="table-responsive small">
          <table class="table table-striped table-sm table-hover table-bordered">
            <thead>
              <tr>
                <th scope="col">Information</th>
                <th scope="col">Value</th>
              </tr>
            </thead>
            <tbody>
              {% for key,value in hardware.items() %}
                <tr>
                  <td>{{ key }}</td>
                  <td>{{ value }}</td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <hr>

    <div class="row">
      <div class="my-3">
        <div class="p3 bg-body-tertiary">
          <div class="container py-2">
            <h2 class="text-body-emphasis">General Network Information</h2>
            <p class="col-lg-8 mx-auto lead">
            This section details general network information about the board, containing network specifications.
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="my-1">
      <div class="table-responsive small">
        <table class="table table-striped table-sm table-hover table-bordered">
          <thead>
            <tr>
              <th scope="col">Information</th>
              <th scope="col">Value</th>
            </tr>
          </thead>
          <tbody>
            {% for key,value in network.items() %}
              <tr>
                <td>{{ key }}</td>
                <td>{{ value }}</td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>

  </div>
{% endblock %}