{% extends 'base.html' %}

{% block content %}
  <div class="container text-center py-4 px-3 mx-auto">
    <div class="row">
      <div class="col-md-4">
        <div class="card" style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title">Platform</h5>
              <p class="card-text">{{ network["hostname"] }}</p>
            </div>
          </div>
      </div>
      <div class="col-md-4">
        <div class="card" style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title">Local Address</h5>
              <p class="card-text">{{ network["local_ip"] }}</p>
            </div>
          </div>
      </div>
      <div class="col-md-4">
        <div class="card" style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title">External Address</h5>
              <p class="card-text">{{ network["external_ip"] }}</p>
            </div>
          </div>
      </div>
    </div>
  </div>
{% endblock %}