{% extends 'base.html' %}

{% block content %}
<div class="row">
  <h1>Home</h1>
</div>

<div class="container text-center py-4">
  <div class="row">

    <div class="col-12 col-lg-6 col-md-6 col-xs-12">
      <div class="card">
        <div class="card-header border-0">
          <h3 class="card-title">Infrastructure Service
            <span id="refresh" class="badge bg-warning" style="font-size: 10px; display: none;" title="Refreshing data in 1 minute interval.">Refresh</span>
          </h3>
          <div class="spinner-border2" role="status" style="display: none;"></div>
        </div>
        <div class="card-body table-responsive p-0">
          <table class="table table-striped table-valign-middle">
            <thead>
              <tr>
                <th>Service</th>
                <th>Port</th>
                <th>Status</th>
              </tr>
            </thead>
            <tbody>
              {%- for key, value in services.items() %}
              <tr>
                <td>{{ value["description"] }}</td>
                <td>{{ value["port"] }}</td>
                <td id="{{ key }}"></td>
              </tr>
              {%- endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <div class="col-12 col-lg-6 col-md-6 col-xs-12">
      <div class="card">
        <div class="card-header border-0">
          <h3 class="card-title">Host Status </h3>
          <div class="spinner-border" role="status" style="display: none;">
          </div>
        </div>
        <div class="card-body table-responsive p-0">
          <table class="table table-striped table-valign-middle">
            <thead>
              <tr>
                <th>Device</th>
                <th>IP Address</th>
                <th>Status</th>
              </tr>
            </thead>
            <tbody>
              {%- for key, value in hosts.items() %}
              <tr>
                <td>{{ value["description"] }}</td>
                <td id="{{ key }}_ip"></td>
                <td id="{{ key }}"></td>
              </tr>
              {%- endfor %}
            </tbody>
          </table>

          <table class="table table-bordered">
            <th colspan="3">Raspberry Overall Host Usage
              <span id="live" class="badge bg-primary" style="font-size: 10px; display: none;" title="Refreshing data in 5 seconds interval.">Live</span>
            </th>
            <tr>
              <td>Pi 4</td>
              <td>
                <table class="table table-bordered">
                  <th colspan="1">CPU</th>
                  <th colspan="1">RAM</th>
                  <th colspan="1">DISK</th>
                  <tr>
                    <td id="pi4_cpu"></td>
                    <td id="pi4_mem"></td>
                    <td id="pi4_disk"></td>
                  </tr>
                </table>
              </td>
            </tr>
            <tr>
              <td>Pi Pico W</td>
              <td>
                <table class="table table-bordered">
                  <th colspan="1">CPU</th>
                  <th colspan="1">RAM</th>
                  <th colspan="1">DISK</th>
                  <tr>
                    <td>None</td>
                    <td>None</td>
                    <td>None</td>
                  </tr>
                </table>
              </td>
            </tr>
          </table>

        </div>
      </div>

      <div class="card my-4">
        <div class="card-header border-0">
          <h3 class="card-title">Kafka Topics </h3>
          </div>
        
        <div class="card-body table-responsive p-0">
          <table id="kafka_cluster" class="table table-striped table-valign-middle">
            <thead>
              <tr>
                <th>Topic</th>
                <th>Status</th>
              </tr>
            </thead>
          </table>

        </div>
        </div>
      </div>
    </div>

  </div>
</div>

<script src="{{ url_for('static', filename= 'js/home.js') }}"></script>

{% endblock %}