{% extends 'base.html' %}

{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename= 'css/chart.min.css') }}"/>

  <div class="container text-center py-4 px-3 mx-auto">
    <div class="row">
      <div class="col-md-4">
        <div class="card" style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title">Streamed Messages</h5>
              <p class="card-text">Some quick example text</p>
            </div>
          </div>
      </div>
      <div class="col-md-4">
        <div class="card" style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title">Operations</h5>
              <p class="card-text">Some quick example text</p>
            </div>
          </div>
      </div>
      <div class="col-md-4">
        <div class="card" style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title">Operations</h5>
              <p class="card-text">Some quick example text</p>
            </div>
          </div>
      </div>
    </div>

    <hr class="py-2 px-2">

    <div class="row">
      <div class="col">
        <div class="card">
          <div class="card-body">
              <canvas id="temperature_canvas"></canvas>
          </div>
      </div>
      </div>
    </div>

    <div class="row py-4">
      <div class="col">
        <div class="card">
          <div class="card-body">
              <canvas id="pressure_canvas"></canvas>
          </div>
      </div>
      </div>
    </div>

  </div>

<script src="{{ url_for('static', filename= 'js/chart.min.js') }}"></script>
<script src="{{ url_for('static', filename= 'js/streaming.js') }}"></script>
  
{% endblock %}