{% extends 'base.html' %}

{% block content %}
  <div class="container text-center py-4 px-3 mx-auto">
    <div class="row">
      <div class="col-md-4">
        <div class="card" style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title">Streamed Messages</h5>
              <p class="card-text">Some quick example text</p>
            </div>
          </div>
      </div>
      <div class="col-md-4">
        <div class="card" style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title">Operations</h5>
              <p class="card-text">Some quick example text</p>
            </div>
          </div>
      </div>
      <div class="col-md-4">
        <div class="card" style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title">Operations</h5>
              <p class="card-text">Some quick example text</p>
            </div>
          </div>
      </div>
    </div>
  </div>
{% endblock %}